.DS_Store
.ipynb_checkpoints
.env

prompts_sample.csv
prompts_full.csv
upload_to_huggingface.ipynb
responses.csv

/env
/3_experiments/1_stance_classifier_evaluation/expost_annotations
/expost_annotations